        <div id="cart-icon" class="<%- cart && cart.length ? 'visible' : '' %>">
            <i id="cart-img" class="fas fa-shopping-basket"></i>
            <a id="cart-item-count"><%- cart.length %></a>
            <a id="cart-view-link" href="/shop/cart">VIEW CART</a>
        </div>
    </main>
    <footer>
        <%_ socials.forEach(link => { _%>
        <a target="_blank" href="<%= link.url %>"><img class="social-icon" style="height: 1em" src="https://cdn.jsdelivr.net/npm/simple-icons@v2/icons/<%= link.name.replace(/[- ]/g, '') %>.svg" alt="<%= link.name %> link"></a>
        <%_ }) _%>
    </footer>
</body>
</html>
