<!DOCTYPE html>
<html lang="en" class="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="robots" content="index, follow">

	<link rel="stylesheet" type="text/css" href="/css/defaults.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/libs/jquery.easing.1.3.js"></script>
	<script src="/js/main.js"></script>
</head>

<body>
	<header>
		<div class="container">
			<div class="logo-container col-sm-2">
				<a href="/"><img id="cs-logo" src="/img/cs-logo.png" alt="CS logo"></a>
			</div>
			<div class="nav-container col-sm-10">
				<button id="nav-button" class="mb-view">M E N U</button>
				<nav>
					<%_ var space_dtv = '<span class="dt-view space" style="margin-right: 1.5em"></span>'; _%>
					<%_ var linebreak = '<span class="mb-view linebreak"><br><br></span>'; _%>
					<a href="/news">NEWS</a><%- space_dtv + linebreak %>
					<a href="/artists">ARTISTS</a><%- space_dtv + linebreak %>
					<a href="/discography">DISCOGRAPHY</a><%- space_dtv + linebreak %>
					<a href="/events">EVENTS</a><%- space_dtv + linebreak %>
					<a href="/shop">SHOP</a><%- space_dtv + linebreak %>
					<a href="/map">MAP</a><%- space_dtv + linebreak %>
					<a href="/sign-up">SIGN UP</a>
				</nav>
			</div>
		</div>
	</header>

	<main>
