<%- include ('partials/header') -%>
    <div class="content-container" style="padding-top: 2em;">
        <div class="nav nav-pills justify-content-center">
            <a class="nav-link active" data-toggle="pill" href="#home">HOME</a>
            <a class="nav-link" data-toggle="pill" href="#articles">ARTICLES</a>
            <a class="nav-link" data-toggle="pill" href="#discography">DISCOGRAPHY</a>
            <a class="nav-link" data-toggle="pill" href="#artists">ARTISTS</a>
            <a class="nav-link" data-toggle="pill" href="#locations">LOCATIONS</a>
            <a class="nav-link" data-toggle="pill" href="#mail">MAIL</a>
            <a class="nav-link" data-toggle="pill" href="#shop">SHOP</a>
            <a class="nav-link" data-toggle="pill" href="#edit">EDIT</a>
            <a class="nav-link" data-toggle="pill" href="#remove">REMOVE</a>
        </div>

        <div class="tab-content container">
            <div id="home" class="creation tab-pane fade show active">
            <%- include ('partials/admin/home') -%>
            </div>

            <div id="articles" class="creation tab-pane fade">
            <%- include ('partials/admin/articles') -%>
            </div>

            <div id="discography" class="creation tab-pane fade">
            <%- include ('partials/admin/discography') -%>
            </div>

            <div id="artists" class="creation tab-pane fade">
            <%- include ('partials/admin/artists') -%>
            </div>

            <div id="locations" class="creation tab-pane fade">
            <%- include ('partials/admin/locations') -%>
            </div>

            <div id="mail" class="creation tab-pane fade">
            <%- include ('partials/admin/mail') -%>
            </div>

            <div id="shop" class="creation tab-pane fade">
            <%- include ('partials/admin/shop') -%>
            </div>

            <div id="edit" class="tab-pane fade">
            <%- include ('partials/admin/edit') -%>
            </div>

            <div id="remove" class="tab-pane fade">
            <%- include ('partials/admin/remove') -%>
            </div>
        </div>
    </div>
    <div id="mail-alert-box">
        <button type="button" id="toggle-display"><i class="fas fa-chevron-right"></i></button>
        <span class="message"></span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/3.2.1/async.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var readDataURLs = function(files, callback) {
            var urls = [];
            var errMsg = (files.length > 1 ? "one or more images" : "image") + " not found/valid";
            async.each(files, function(file, cb) {
                var reader = new FileReader();
                reader.onerror = function(e) { cb(`${e.type}: ${errMsg}`) };
                reader.onload = function(e) {
                    var result = e.target.result;
                    var media = result.includes("image") ? new Image() : document.createElement("video");
                    media.onload = function() { urls.push(result); cb() };
                    media.oncanplay = media.onload;
                    media.onerror = reader.onerror;
                    media.src = result;
                };
                reader.readAsDataURL(file)
            }, function(err) { callback(err, urls) });
        };
        var showMessage = function(result) {
            var reload = confirm(result + "\n\nRefresh page?");
            if (reload) location.reload();
        };

        $("#headline_images, #headline_images_change").change(function() {
            var $form = $(this).closest("form");
            var files = this.files;
            var $thumb_choice = $form.find(".headline-image-thumb-choice");
            $thumb_choice.find("input").off("change").end().empty().hide();
            $form.find(".headline-image-data").empty();
            if (!files || !files.length) return;
            var $submitInput = $form.children("input:submit");
            var label = "<label>CHOOSE ARTICLE THUMBNAIL</label>";
            $submitInput.attr("disabled", true);
            $thumb_choice.show().append(label);
            readDataURLs(files, function(err, urls) {
                $submitInput.attr("disabled", false);
                if (err) return alert(err.message);
                for (var url of urls) {
                    var name = "headline_image_thumb";
                    var $input = $("<input>").attr({ type: "radio", name, value: url, required: true });
                    var $img = $("<img>").attr({ src: url });
                    $form.find(".headline-image-data").append( $("<input>").attr({ type: "hidden", name: "headline_images" }).val(url) );
                    $thumb_choice.append($input.add($img));
                }
            });
        });

        $("#textbody, #textbody_edit").keyup(function() {
            var textbody = this;
            var $tbm_container = $(this).closest("form").find(".textbody_media");
            var spots = textbody.value.match(/^x$/gim) || [];
            var current_values = $tbm_container.find("input:text").map(function() { return this.value }).get();
            if ($tbm_container.html()) $tbm_container.empty();
            if (!spots.length) return;
            spots.forEach(function(spot, i) {
                $('<div class="file-upload-container">' +
                    '<div class="input-group">' +
                        '<div class="custom-file">' +
                            `<input type="file" class="custom-file-input" id="upload${i}" accept="image/*,video/*,audio/*" required>` +
                            '<label class="custom-file-label">Choose media file</label>' +
                        '</div>' +
                        '<div class="input-group-append">' +
                            `<button class="btn btn-secondary clear-uploads" type="button" data-id="upload${i}">Clear file upload</button>` +
                        '</div>' +
                    '</div>' +
                    '<input type="text" name="textbody_media" placeholder="...or enter media URL or embed code" required>' +
                '</div>').appendTo($tbm_container);
            });

            $tbm_container.find("input:file").change(function() {
                var files = this.files;
                var $container = $(this).closest(".file-upload-container");
                var $textInput = $container.find("input:text");
                var filesPresent = files && files.length;
                var $file_label = $container.find(".custom-file-label");
                var initial_label_value = $file_label.data("initial-value") || $file_label.text();
                $file_label.data("initial-value", initial_label_value).text(initial_label_value);
                $textInput.val(filesPresent ? "N/A" : "").attr("disabled", false).next(":hidden").remove();
                if (!filesPresent) return this;
                var $submitBtn = $(this).closest("form").children("input:submit").attr("disabled", true);
                readDataURLs(files, function(err, urls) {
                    $submitBtn.attr("disabled", false);
                    if (err) return alert(err.message);
                    $file_label.text(files[0].name);
                    $textInput.val("N/A").attr("disabled", true).after($("<input>").attr({ type: "hidden", name: "textbody_media", value: urls[0] }));
                });
            }).end().find(".clear-uploads").click(function(e) {
                e.preventDefault(); $tbm_container.find(":file#"+this.dataset.id).val("").change()
            }).end().find("input:text").change(function() {
                var $container = $(this).closest(".file-upload-container");
                $container.find("input:file").attr("required", !this.value.trim());
            });
        });

        $(".clear-uploads").click(function(e) {
            e.preventDefault();
            $("#"+this.dataset.id).val("").change();
        });

        $(":input[id*=all_platforms]").change(function() {
            $(this).closest("form").find(".link-item").not(":first").remove()
                   .end().find(":input[type=url]").val("").attr({ required: !this.checked })
                   .end().find(":input").attr({ disabled: this.checked })
        });

        $(".file-upload-container").find("input:file").change(function() {
            var files = this.files;
            var $container = $(this).closest(".file-upload-container");
            var $image_data = $container.find(":hidden").val("");
            var $image_url = $container.find("input[type=url]").attr("disabled", false).val("");
            var $file_label = $container.find(".custom-file-label");
            var initial_label_value = $file_label.data("initial-value") || $file_label.text();
            $file_label.data("initial-value", initial_label_value).text(initial_label_value);
            if (!files || !files.length) return;
            var $submitBtn = $(this).closest("form").children("input:submit").attr("disabled", true);
            readDataURLs(files, function(err, urls) {
                $submitBtn.attr("disabled", false);
                if (err) return alert(err.message);
                $image_data.val(urls[0]);
                $image_url.attr("disabled", true).val(files[0].name);
                $file_label.text(files[0].name);
            });
        }).end().find("input:text").change(function() {
            var $container = $(this).closest(".file-upload-container");
            $container.find("input:file").attr("required", !this.value.trim());
        });

        $(".input-item :input").on("change keyup", function() {
            var $groupInputs = $(this).closest(".input-item").find(":input");
            var notEmpty = $groupInputs.filter(function() { return this.value }).length > 0;
            $groupInputs.attr("required", notEmpty);
        });

        $(".input-item button").click(function(e) {
            e.preventDefault();
            var $form = $(this).closest("form");
            var $item = $(this).closest(".input-item");
            switch (this.className) {
                case "add":
                    $item.clone(true).find(":input").not("button").val("").end().end().insertAfter($item);
                    break;
                case "remove":
                    if ($form.find(".input-item").length > 1) $item.remove();
                    break;
            }
        });

        $.post("/admin/search", function(docs) {
            $("#edit select[id*='_id']").change(function() {
                var $form = $(this).closest("form");
                var id = this.value;
                var result = (docs || []).filter(function(item) { return id == item._id })[0] || {};
                $form.find(".clear-uploads").click();

                $form.find("#artist_name_edit").val(result.name);
                $form.find("#artist_bio_edit").val(result.bio);
                var $group = $form.find(".social-media-input-group");
                $group.find(".social-media-input").find(":input").val("").end().not(":first").remove();
                (result.socials || []).forEach(function(social, i) {
                    if (i == 0) $group.empty();
                    var $clone = $("#artists .social-media-input").clone(true);
                    $clone.find(".social-media-name").val(social.name).end()
                          .find(".social-media-url").val(social.url).end()
                          .appendTo($group);
                });

                $form.find("#headline_edit").val(result.headline);
                var $thumb_choice = $form.find(".headline-image-thumb-choice");
                var images = result.headline_images;
                $thumb_choice.find("input").off("change").end().empty().hide();
                if (images && images.length) {
                    $thumb_choice.show().append("<label>CHOOSE ARTICLE THUMBNAIL</label>");
                    images.forEach(function(image) {
                        var $input = $("<input>").attr({ type: "radio", name: "headline_image_thumb", value: image });
                        var $img = $("<img>").attr({ src: image });
                        $thumb_choice.append($input.add($img));
                    })
                }
                $form.find(".headline-image-data").empty();
                $form.find("#textbody_edit").val(result.textbody).keyup().end().find(".textbody_media input:text").each(function(i) {
                    this.value = result.textbody_media[i];
                });

                $form.find("#artwork_url_edit").val(result.artwork);
                $form.find("#title_edit").val(result.title);
                $form.find("#artist_edit").val(result.artist);
                $form.find("#year_edit").val(result.year);
                var $group = $form.find(".link-item-group");
                $group.find(".link-item").find(":input").val("").end().not(":first").remove();
                (result.links || []).forEach(function(link, i) {
                    if (i == 0) $group.empty();
                    var $clone = $("#discography .link-item").clone(true);
                    $clone.find(".link-name").val(link.name).end()
                          .find(".link-url").val(link.url).end()
                          .appendTo($group);
                });

                $form.find("#all_platforms_change").attr("checked", result.all_platforms);

                $form.find("#location_name_edit").val(result.name);
                $form.find("#street_address_edit").val(result.street_address);
                $form.find("#city_edit").val(result.city);
                $form.find("#country_edit").val(result.country);
                $form.find("#postcode_edit").val(result.postcode);

                $form.find("#firstname_edit").val(result.firstname);
                $form.find("#lastname_edit").val(result.lastname);
                $form.find("#email_edit").val(result.email);
                $form.find("#size_top_edit").val(result.size_top);
                $form.find("#size_bottom_edit").val(result.size_bottom);
                $form.find("#extra_info_edit").val(result.extra_info);

                $form.find("#product_name_edit").val(result.name);
                $form.find("#price_edit").val(parseFloat(result.price) / 100);
                $form.find("#stock_qty_edit").val(result.stock_qty);
                $form.find("#product_info_edit").val(result.info);
            });

            $("#mail form #recipient_email").change(function() {
                var $form = $(this).closest("form");
                var email = this.value;
                var result = docs.filter(function(m) { return email == m.email })[0] || {};
                var exists = !!Object.values(result).length;

                $form.find("#recipient_details").css("display", exists ? "block" : "none").html(
                    "<b>Name</b>: " + result.firstname + " " + result.lastname + "<br> " +
                    "<b>Sizes</b>: " + result.size_top + " (Top), " + result.size_bottom + " (Bottoms)<br> " +
                    (result.extra_info ? "<b>Extra info</b>: " + result.extra_info.trim().replace(/\r?\n/g, "<br>") + "<br>" : "")
                );
            });
        });

        $(".text-emphasis-styles > button").click(function(e) {
            e.preventDefault();
            var $textarea = $("#"+this.parentNode.dataset.id);
            var value = $textarea.val();
            var selectionStart = $textarea.prop("selectionStart");
            var selectionEnd = $textarea.prop("selectionEnd");
            var selection = value.slice(selectionStart, selectionEnd);
            var before = value.slice(0, selectionStart);
            var after = value.slice(selectionEnd, value.length);
            var em = this.firstChild.tagName.toLowerCase();
            if (selection.length) $textarea.val( before + "<"+em+">" + selection +"</"+em+">" + after );
            $textarea.get(0).focus();
        });

        $(".section-dropdown-options select").change(function() {
            $(this).closest(".sidebar").find(".nav-pills a[href='"+ this.value +"']").click()
        });

        $("#homepage_image_file").change(function() {
            var files = this.files;
            var filename = files && files.length ? files[0].name.replace(/\.[a-zA-Z0-9]{3,4}$/gi, "") : "";
            $(this).closest("form").find("#homepage_image_filename").val(filename);
        });

        $(".creation form, #edit form").submit(function(e) {
            e.preventDefault();
            var form = this;
            var btnController = new submitBtnController(form);
            var max = value = parseInt($(form).find("#homepage_image_index").attr("max")) + 1;

            $.post(form.action, $(form).serializeArray(), function(result) {
                showMessage(result);
                $(form).find("#homepage_image_index").attr({ max, value }).val(value).end().find(".clear-uploads").click();
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $("#remove form").submit(function(e) {
            e.preventDefault();
            var form = this;
            var data = $(form).serializeArray();
            var btnController = new submitBtnController(form);

            $.post(form.action, data, function(result) {
                showMessage(result);
                $(form).find(":input:checked, :input:checked + span, :input:checked + span + br").slideUp(function() {
                    $(this).remove();
                    data.forEach(function(field) { $("option[value="+ field.value +"]").remove() });
                });
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $(".filter-search-input").on("input", function(e) {
            var $items = $(e.target).closest("form").find(".list-item");
            var regex = new RegExp(`\\b${e.target.value.replace(/\W/g, function(m) { return `\\${m}` })}(\\S+)?`, "gi");
            var filter = function() { return regex.test($(this).find("label").text()) };
            !e.target.value ? $items.show() : $items.hide().filter(filter).show();
        });

        $(window).on("load", function() {
            var cookies = !document.cookie ? null : document.cookie.split(/; ?/).map(function(cookie) {
                var keyvalue = cookie.split("=");
                return { [keyvalue[0]]: keyvalue[1] };
            }).reduce(function(p, c) { return {...p, ...c} });

            if (cookies) JSON.parse(cookies.active_tab_hrefs || "[]").every(function(href, i) {
                if (/^val-/.test(href)) return setTimeout(function() { $(".section-dropdown-options select:visible").val(href.replace(/^val-/, "")).change() }, 200);
                return $(".nav.nav-pills a[href='"+ href +"']").click();
            });

            $(".nav.nav-pills a").on("shown.bs.tab", function() {
                var $a = $(".nav.nav-pills:visible a.active[data-toggle='pill']");
                $a = $(".section-dropdown-options select:visible").add($a);
                document.cookie = "active_tab_hrefs=" + JSON.stringify($a.map(function() { return $(this).attr("href") || "val-"+$(this).val() }).get()) + "; path="+ location.pathname +";";
            });
        });

        var socket = io(), timeout, btnController, emptyMessage = function() { $(this).off("transitionend").find(".message").empty() };
        $("#mail form").off("submit").submit(function(e) {
            e.preventDefault();
            btnController = new submitBtnController(e.target);
            socket.emit("send mail", $(e.target).serializeArray());
        });

        socket.on("sent mail result", function(res) {
            if (res.background_running) return alert("Please wait, emails are still being sent.");
            var message = (res.error ? res.error.message : res.message || "").replace(/\r?\n/g, "</p><p>");
            if (message) $("#mail-alert-box").addClass("visible").find(".message").html(`<p>${message}</p>`);
            if (!res.finished) return;
            btnController.finish();
            $("#mail-alert-box").removeClass("visible hidden").on("transitionend", emptyMessage);
        });

        socket.on("sent mail background update", function(res) {
            clearTimeout(timeout);
            $("#mail-alert-box").addClass("visible").find(".message").html(`<p>${res.message}</p>`);
            btnController && btnController.finish();
            timeout = setTimeout(function() {
                $("#mail-alert-box").removeClass("visible hidden").on("transitionend", emptyMessage);
            }, 4000)
        });

        $("#mail-alert-box #toggle-display").click(function() {
            $("#mail-alert-box").hasClass("visible") && $("#mail-alert-box").toggleClass("hidden");
        });
    </script>
<%- include ('partials/footer') -%>
