<%- include ('partials/header', { title: "Artists", pagename: "artists" }) -%>
<%_ artists.forEach((artist, i) => {
    var isEven = i % 2 == 0; _%>
    <div class="artist-bio content-container">
        <div class="content container">
            <div class="row">
                <div class="img-wrapper col-sm-5 float-left<%= (!isEven) ? ' order-sm-7' : '' %>">
                    <div class="img" style="background-image: url(<%= artist.profile_image || '/img/cs-logo.png' %>)"></div>
                </div>
                <div class="text col-sm-7 float-left<%= (!isEven) ? ' order-sm-5' : '' %>">
                    <h1><%= artist.name.toUpperCase() %></h1>
                    <%- `<p>${artist.bio.replace(/\r?\n/g, "</p>\n<p>").replace(/<p><\/p>/g, "<br>")}</p>` %>
                    <%_ if (artist.socials && artist.socials.length) { _%>
                    <br>
                    <p class="socials">
                        <%- artist.socials.map(social => `<a target="_blank" href="${social.url}"><img class="social-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@5.21.1/icons/${social.name}.svg" alt="${artist.name} ${social.name} link"></a>` ).join(""); %>
                    </p>
                    <%_ } _%>
                </div>
            </div>
        </div>
    </div>
    <%_ }) _%>
    <script>
        $(".artist-bio .text .social-icon").one("error", function() { $(this).parent().hide() });
        !("clip-path" in document.body.style) && $(".artist-bio").addClass("no-clip-path");
    </script>
<%- include ('partials/footer') -%>
