    <%_ include partials/header _%>
    <%_ artists.forEach((artist, i) => {
        var isEven = i % 2 == 0; _%>
    <div class="artist-bio content-container">
        <div class="content container">
            <div class="img-wrapper col-sm-5<%= (!isEven) ? ' col-sm-push-7' : '' %>">
                <div class="img" style="<%= artist.profile_image ? 'background-image: url('+ artist.profile_image +')' : '' %>"></div>
            </div>
            <div class="text col-sm-7<%= (!isEven) ? ' col-sm-pull-5' : '' %>">
                <h1><%= artist.name.toUpperCase() %></h1>
                <%- "<p>" + artist.bio.replace(/\r?\n/g, "</p>\n<p>").replace(/<p><\/p>/g, "<br>") + "</p>" %>
                <%_
                    var keys;
                    try {
                        keys = Object.keys(artist.socials);
                    } catch(e) {
                        keys = [];
                    }
                    if (keys.length) {
                _%>
                <br>
                <p class="socials">
                    <%_
                        keys.forEach((k, i) => {
                        var space = '<span class="space" style="margin-right: 15px"></span>';
                        var tidal = "https://simpleicons.org/icons/tidal.svg";
                        var link = artist.socials[k];
                    _%>
                    <a class="fab fa-<%= k === 'apple_music' ? 'apple' : k %>" target="_blank" aria-hidden="true" href="<%= link %>">
                        <%- k === "tidal" ? '<img src="'+ tidal +'">' : '' %>
                    </a><%- i < keys.length-1 ? space : '' %>
                    <%_ }) _%>
                </p>
                <%_ } _%>
            </div>
        </div>
    </div>
    <%_ }) _%>
<%_ include partials/footer _%>
