<%- include ('partials/header', { title: "Cart", pagename: "cart" }) -%>
    <div class="content-container">
        <div class="content container" style="padding-top: 2em; padding-bottom: 2em;">
            <div class="cart-item-container">
                <%_ cart.forEach(item => { _%>
                <div class="cart-item">
                    <div class="row">
                        <div class="col-md-3 float-left item-img" style="background-image:url('<%- item.image %>')"></div>
                        <div class="col-md-6 float-left item-info">
                            <p class="item-name" style="font-weight: bold"><%- item.name %></p>
                            <p class="item-price" style="font-weight: bold"><%- currency_symbol %> <span><%- converted_price(item.price).toFixed(2).replace(number_separator_regx, ",") %></span></p>
                            <p><%= item.info.replace(/\r?\n/g, "<br>") %></p>
                            <%_ if (item.size) { _%>
                            <form action="/shop/cart/change-size">
                                <input type="hidden" name="id" value="<%- item.id %>">
                                <input type="hidden" name="prev_size" value="<%- item.size %>">
                                <select class="custom-select size" name="size" style="max-width: 150px">
                                    <%_ sizes.forEach(size => { _%>
                                    <option value="<%= size %>"<%= item.size === size ? " selected" : "" %>><%= size %></option>
                                    <%_ }) _%>
                                </select>
                            </form>
                            <%_ } _%>
                        </div>
                        <div class="col-md-3 float-left">
                            <form class="item-qty-control" action="/shop/cart/increment">
                                <input type="hidden" name="id" value="<%- item.id %>">
                                <%_ if (item.size) { _%>
                                <input type="hidden" name="size" value="<%- item.size %>">
                                <%_ } _%>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-secondary qty-control-btn" value="-1">-</button>
                                    </div>
                                    <input class="form-control qty-count" type="number" name="quantity" min="1" max="<%- item.stock_qty %>" value="<%- item.qty %>">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary qty-control-btn" value="1">+</button>
                                    </div>
                                </div>
                            </form>
                            <form class="remove-item" action="/shop/cart/remove">
                                <input type="hidden" name="id" value="<%- item.id %>">
                                <input type="hidden" name="size" value="<%- item.size %>">
                                <button type="submit" class="btn remove-item-btn">REMOVE</button>
                            </form>
                        </div>
                    </div>
                </div>
                <%_ }) _%>
            </div>
            <br><br>
            <div style="text-align: center; font-weight: bold">
                <%_ var price_total = cart.reduce((sum, p) => sum + (p.price * p.qty), 0); _%>
                <p id="price-total">Total: <%- currency_symbol %> <span><%- converted_price(price_total).toFixed(2).replace(number_separator_regx, ",") %></span></p>
                <%_ if (price_total) { _%>
                <p id="checkout-link"><a href="/shop/checkout"><button>PROCEED TO CHECKOUT</button></a></p>
                <%_ } _%>
            </div>
        </div>
    </div>
    <script>
        $(".qty-control-btn").click(function() {
            var $form = $(this).closest(".item-qty-control");
            var $qty_count = $form.find(".qty-count");
            $qty_count.get(0).stepUp(this.value);
            $(this).closest(".item-qty-control").submit();
        });

        $(".item-qty-control .qty-count").on("input", function(e) {
            $(this).closest(".item-qty-control").submit();
        });

        $(".item-qty-control, .remove-item").submit(function(e) {
            e.preventDefault();
            var form = this;
            var buttons = $(form).find("button").attr("disabled", true);
            $.post(form.action, $(form).serializeArray(), function(r) {
                $(form).find(".qty-count").val(r.quantity);
                if (!r.quantity) $(form).closest(".cart-item").hide(function() { $(this).remove() });
                if (r.cart_empty) $("#checkout-link").hide(function() { $(this).remove() });
                if (r.cart_empty) $("#cart-icon").removeClass("visible");
                $("#price-total span").text(r.total);
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                buttons.attr("disabled", false);
            })
        });

        $("select[name=size]").change(function() {
            var form = $(this).closest("form").get(0);
            $.post(form.action, $(form).serializeArray(), function(r) {
                $(form).find("input[name=prev_size]").val(r.size);
                alert(r.message);
                r.refresh && location.reload();
            }).fail(function(err) {
                alert(err.responseText);
            })
        });
    </script>
<%- include ('partials/footer') -%>