<%- include ('partials/header', { title: "Discography", pagename: "discography" }) -%>
    <div class="container">
        <div class="row">
        <%_ projects.forEach((project, i) => { _%>
            <div class="project-thumb thumb content-container col-md-4 col-sm-6 float-left">
                <div class="content">
                    <div class="img-wrapper">
                        <div class="img hidden" style="background-image: url('<%= project.artwork %>');"></div>
                    </div>
                    <div class="text">
                        <h2 class="title" title="<%= project.title %>"><%= project.title %></h2>
                        <p><%= project.artist + " | " + project.year %></p>
                        <p>Available on<%= project.all_platforms && !project.links.length ? " all platforms" : "" %></p>
                        <p>
                        <%_ if (!project.all_platforms) project.links.forEach(link => { _%>
                            <a class="link" target="_blank" href="<%= link.url %>"><img class="socials-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@5.21.1/icons/<%- link.name %>.svg"></a>
                        <%_ }) _%>
                        </p>
                    </div>
                </div>
            </div>
        <%_ }) _%>
        </div>
    </div>
    <script>
        $(".project-thumb .img").each(function(i, img) {
            var url_pattern = /(?:(?:https?|ftp|file|data):\/\/|www\.|ftp\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])/gi;
            var image = new Image();
            image.src = img.src || $(img).css("background-image").match(url_pattern)[0];
            image.onload = function() { $(img).removeClass("hidden") };
        });
    </script>
<%- include ('partials/footer') -%>
