<%- include ('partials/header') -%>
    <section class="banner-container">
        <div class="banner content">
            <%_ if (content) { _%>
            <div class="banner-item" style="left: 100%">
                <div class="banner-text"><%= content.banner_text %></div>
                <%_ content.banner_media.forEach(url => { _%>
                <img class="banner-item-media" src="<%= url %>">
                <%_ }) _%>
            </div>
            <%_ } _%>
        </div>
    </section>

    <section class="homepage-main-content-section">
        <div id="bg-video-player">
            <%_ media.forEach(m => { _%>
            <video src="<%- m.url %>" autoplay playsinline muted loop></video>
            <%_ }) _%>
        </div>
    </section>

    <%_ if (content) { _%>
    <section class="homepage-footnote-text container"><%- content.footnote_text %></section>
    <%_ } _%>

    <script>
        (function banner_autoplay() {
            $(".banner-item").animate({ left: "-=100" }, 1000, "linear", function() {
                var $last = $(".banner-item:last");
                var offsetLeft = $last.offset().left;
                var width = parseInt($last.css("width")) + 50;
                if ((offsetLeft + width) < window.innerWidth) $last.clone().css("left", "100%").appendTo(".banner");
                var $first = $(".banner-item:first");
                offsetLeft = $first.offset().left;
                width = parseInt($first.css("width"));
                if ((offsetLeft + width) < 0) $first.remove();
                banner_autoplay();
            });
        })();

        var $player = $("#bg-video-player");
        var $videos = $player.children("video");
        $videos.one("canplay canplaythrough", function(e) { $(e.target).prop("currentTime", 13).trigger("play") })
        $(window).on("touchstart", function() {
            $videos.each((i, v) => {
                var playing = v.currentTime > 0 && !v.paused && !v.ended && v.readyState > 2;
                if (!playing) v.play();
            });
        });

        if ($videos.length > 1) {
            $videos.filter(":gt(0)").fadeTo(0, 0);
            setInterval(() => {
                $player.children("video:first")
                .fadeTo(500, 0)
                .dequeue()
                .next()
                .trigger("play")
                .fadeTo(500, 1)
                .end()
                // .trigger("pause")
                .appendTo($player);
            }, 4000);
        }
    </script>
<%- include ('partials/footer') -%>
