<%_ include partials/header _%>
    <div class="container">
        <%_ articles.forEach(article => { _%>
        <article class="content-container col-sm-4">
            <div class="article-content">
                <%_ if (article.headline_images.length) { _%>
                <a class="img" href="/news/article/<%= article._id %>" style="background-image: url('<%= article.headline_images[0] %>')"></a>
                <%_ } _%>
                <div class="text">
                    <h1><a href="/news/article/<%= article._id %>"><%= article.headline %></a></h1>
                    <%_
                        var textbody = "<p>" + article.textbody.replace("\n", "</p>\n<p>") + "</p>";
                        article.textbody_media.forEach(media => { textbody.replace(media, "") });
                    _%>
                    <%- textbody %>
                </div>
                <div class="overflow-fade-sheet"><a href="/news/article/<%= article._id %>">READ MORE</a></div>
            </div>
        </article>
        <%_ }) _%>
    </div>
<%_ include partials/footer _%>
