<%_ include partials/header _%>
    <div class="container">
        <%_ articles.forEach(article => { _%>
        <article class="content-container col-md-4 col-sm-6">
            <div class="article-content">
                <%_ if (article.headline_image_thumb) { _%>
                <a class="img" href="/news/article/<%= article._id %>" style="background-image: url('<%= article.headline_image_thumb %>')"></a>
                <%_ } _%>
                <div class="text">
                    <h1><a href="/news/article/<%= article._id %>"><%- article.headline %></a></h1>
                    <%-
                        "<p>" +
                        article.textbody.split(/\r?\n/gi)
                        .map(x => x.toLowerCase() === "x" ? "<p></p>" : "<p>"+ x +"</p>")
                        .map(x => x === "<p></p>" ? "<br>" : x)
                        .join("\n") +
                        "</p>"
                    %>
                </div>
                <div class="overflow-fade-sheet"><a href="/news/article/<%= article._id %>">READ MORE</a></div>
            </div>
        </article>
        <%_ }) _%>
    </div>
<%_ include partials/footer _%>
