<%_ include partials/header _%>
    <div class="container">
        <%_ if (!products.length) { _%>
        <div style="padding: 50px 10px; text-align: center;"><h1>STOCKING UP<br>MERCH COMING SOON</h1></div>
        <%_ } products.forEach(item => { _%>
        <div class="product-thumb thumb content-container col-md-4 col-sm-6">
            <div class="content">
                <div class="img-wrapper" style="padding: 0;">
                    <div class="img" style="background-image: url('<%- item.image %>');"></div>
                </div>
                <div class="text">
                    <p style="font-size: 1.5em;"><%= item.name %></p>
                    <p style="font-size: 2em; text-align: right">£<%= (item.price / 100).toFixed(2) %></p>
                    <p><%= item.info.replace(/\r?\n/g, "<br>") %></p>
                </div>
                <div class="cart-options">
                    <form class="add-to-cart" action="/shop/cart/add">
                        <input type="hidden" name="product_id" value="<%= item._id %>">
                        <input type="hidden" name="name" value="<%= item.name %>">
                        <input type="hidden" name="price" value="<%= item.price %>">
                        <input type="hidden" name="img_url" value="<%= item.image %>">
                        <input type="submit" data-value="ADD TO CART" value="ADD TO CART">
                    </form>
                </div>
            </div>
        </div>
        <%_ }) _%>
    </div>
    <script>
        $(".add-to-cart").submit(function(e) {
            e.preventDefault();
            var $submitBtn = $(e.target).find("input[type=submit]");
            var initialVal = $submitBtn.data("value");
            var btnControl = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(item_count) {
                $("#cart-icon").toggleClass("visible", item_count > 0);
                $("#cart-item-count").text(item_count);
                btnControl.finish();
                $submitBtn.val("ADDED!");
                setTimeout(function() { $submitBtn.val(initialVal) }, 2000);
            })
        })
    </script>
<%_ include partials/footer _%>