<%- include ('partials/header') -%>
    <div class="container">
        <%_ if (!products.length) { _%>
        <div style="padding: 50px 10px; text-align: center;">
            <h1>STOCKING UP<br>MERCH COMING SOON</h1>
        </div>
        <%_ } else { _%>
        <div id="fx-select-container">
            <a id="fx-select-info" style="<%= currency_symbol === '£' ? 'display: none' : '' %>"><i class="fal fa-info-circle"></i></a>
            <select class="custom-select" id="fx-select" name="currency_code">
                <option value="<%= currency_code %>"><%- currency_name + (currency_symbol && currency_symbol !== currency_code ? ` - ${currency_symbol}` : "") %></option>
                <%_ currencies.sort((a,b) => a.name.localeCompare(b.name)).forEach(curr => {
                    if (curr.code !== currency_code) { _%>
                <option value="<%= curr.code %>"><%= curr.name + (curr.symbol ? ` - ${curr.symbol}` : "") %></option>
                <%_ }}) _%>
            </select>
        </div>

        <div class="row">
            <%_ products.forEach(item => { var soldOut = item.stock_qty < 1; _%>
            <div class="product-thumb thumb content-container col-md-4 col-sm-6 float-left">
                <div class="content">
                    <p class="name" title="<%= item.name %>"><%= item.name %></p>
                    <div class="img-wrapper">
                        <div class="img" style="background-image: url('<%- item.image %>');<%= soldOut ? 'opacity:.5' : '' %>"></div>
                    </div>
                    <div class="text">
                        <p class="price" data-gbp-price="<%= (item.price / 100).toFixed(2) %>">
                            <span><%- currency_symbol || currency_code %></span>
                            <span><%= converted_price(item.price).toFixed(2).replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","); %></span>
                        </p>
                        <div class="description">
                            <p><span><%= item.info %></span></p>
                            <a class="expand-toggler">
                                <span class="expand-label">See more</span>
                                <span class="collapse-label">See less</span>
                            </a>
                        </div>
                    </div>
                    <div class="cart-options">
                        <form class="add-to-cart" action="/shop/cart/add">
                            <input type="hidden" name="id" value="<%= item._id %>">
                            <input type="submit" style="<%= soldOut ? 'opacity:.5' : '' %>" data-value="<%= !soldOut ? 'ADD TO CART' : 'SOLD OUT' %>" value="<%= !soldOut ? 'ADD TO CART' : 'SOLD OUT' %>"<%= soldOut ? 'disabled' : '' %>>
                        </form>
                    </div>
                </div>
            </div>
            <%_ }) _%>
        </div>
        <%_ } _%>
    </div>
    <script>
        $(".add-to-cart").submit(function(e) {
            e.preventDefault();
            var $submitBtn = $(e.target).find("input[type=submit]");
            var initialVal = $submitBtn.data("value");
            var btnControl = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(item_count) {
                $("#cart-icon").toggleClass("visible", item_count > 0);
                $("#cart-item-count").text(item_count);
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnControl.finish();
                $submitBtn.val("ADDED!");
                setTimeout(function() { $submitBtn.val(initialVal) }, 2000);
            })
        });

        $("#fx-select").change(function() {
            $.post("/shop/fx", { currency_code: this.value }, function(res) {
                $(".product-thumb .price").fadeTo(0, .5);
                $("#fx-select-info").css("display", res.symbol === "£" ? "none" : "");
                $("html, body").animate({ scrollTop: $(".product-thumb").length ? $(".product-thumb").eq(0).offset().top : undefined }, function() {
                    setTimeout(function() {
                        $(".product-thumb .price").fadeTo(500, 1).each(function(i, e) {
                            $(e).find("span").eq(0).text(res.symbol);
                            $(e).find("span").eq(1).text(res.converted_prices[i]);
                        });
                    }, 200);
                });
            }).fail(function(err) {
                alert(err.responseText);
            })
        });

        $(".product-thumb .description .expand-toggler").click(function() {
            parseInt($(this).css("opacity")) == 1 && $(this).closest(".description").toggleClass("expanded");
        });

        $(window).on("load resize", function() {
            $(".product-thumb .description").removeClass("expanded").each(function(i, elm) {
                var p = $(elm).find("p");
                var span = $(elm).find("p span");
                var overflowing = span.width() > p.width();
                $(elm).find(".expand-toggler").fadeTo(0, Number(overflowing));
            });
        });

        $("#fx-select-info").click(function() {
            if ($(this).is(":hidden")) return;
            alert("All converted prices are updated once per hour.\n\n"+
            "So please be advised, your final payment charge may only slightly differ when you checkout, "+
            "as currency exchange rates update more frequently in real-time.")
        });
    </script>
<%- include ('partials/footer') -%>