<%- include ('partials/header') -%>
    <div class="container">
        <div style="text-align: right; font-weight: bold">
            <select id="fx-select" name="currency" style="color: black; width: 150px">
                <%_ const currency_default = currency.toUpperCase(); _%>
                <option value="<%= currency_default %>"><%- `${currency_default} (${currency_symbol !== currency_default ? currency_symbol : ""})` %></option>
                <%_ Object.keys(rates).sort().forEach(c => { _%>
                <option value="<%= c %>"><%= `${c} (${curr_symbols[c] || ""})` %></option>
                <%_ }) _%>
            </select>
            <i class="fas fa-chevron-down" id="dropdown-toggle"></i>
        </div>
        <%_ if (!products.length) { _%>
        <div style="padding: 50px 10px; text-align: center;"><h1>STOCKING UP<br>MERCH COMING SOON</h1></div>
        <div class="row">
        <%_ } products.forEach(item => { var soldOut = item.stock_qty < 1; _%>
            <div class="product-thumb thumb content-container col-md-4 col-sm-6 float-left">
                <div class="content">
                    <div class="img-wrapper" style="padding: 0;">
                        <div class="img" style="background-image: url('<%- item.image %>');<%= soldOut ? 'opacity:.5' : '' %>"></div>
                    </div>
                    <div class="text">
                        <p class="name" style="font-size: 1.5em;"><%= item.name %></p>
                        <p class="price" style="font-size: 2em; text-align: right" data-gbp-price="<%= (item.price / 100).toFixed(2) %>">
                            <span><%- (currency_symbol || currency).toUpperCase() %></span>
                            <span><%= converted_price(item.price).toFixed(2) %></span>
                        </p>
                        <p><%= item.info.replace(/\r?\n/g, "<br>") %></p>
                    </div>
                    <div class="cart-options">
                        <form class="add-to-cart" action="/shop/cart/add">
                            <input type="hidden" name="id" value="<%= item._id %>">
                            <input type="submit" style="<%= soldOut ? 'opacity:.5' : '' %>" data-value="<%= !soldOut ? 'ADD TO CART' : 'SOLD OUT' %>" value="<%= !soldOut ? 'ADD TO CART' : 'SOLD OUT' %>"<%= soldOut ? 'disabled' : '' %>>
                        </form>
                    </div>
                </div>
            </div>
        <%_ }) _%>
        </div>
    </div>
    <script>
        $(".add-to-cart").submit(function(e) {
            e.preventDefault();
            var $submitBtn = $(e.target).find("input[type=submit]");
            var initialVal = $submitBtn.data("value");
            var btnControl = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(item_count) {
                $("#cart-icon").toggleClass("visible", item_count > 0);
                $("#cart-item-count").text(item_count);
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnControl.finish();
                $submitBtn.val("ADDED!");
                setTimeout(function() { $submitBtn.val(initialVal) }, 2000);
            })
        });
        var prices = $(".product-thumb .price").get().map(function(e) { return parseFloat($(e).data("gbp-price")) });
        Object.freeze(prices);
        $("#fx-select").change(function() {
            $.post("/shop/fx", { currency: this.value }, function(res) {
                $(".product-thumb .price").fadeTo(0, .5);
                $("html, body").animate({ scrollTop: $(".product-thumb").length ? $(".product-thumb").eq(0).offset().top : undefined }, function() {
                    setTimeout(function() {
                        $(".product-thumb .price").fadeTo(500, 1).each(function(i, e) {
                            $(e).find("span").eq(0).text(res.symbol || res.currency.toUpperCase());
                            $(e).find("span").eq(1).text((prices[i] * res.rate).toFixed(2));
                        });
                    }, 200);
                });
            }).fail(function(err) {
                alert(err.responseText);
            })
        })
    </script>
<%- include ('partials/footer') -%>