<div class="row">
    <div class="col-md-3 float-left sidebar" id="edit-sidebar">
        <div class="mb-view-md section-dropdown-options">
            <label>SELECT OPTION</label>
            <select class="custom-select">
                <option value="#edit-artist">ARTIST</option>
                <option value="#edit-article">ARTICLE</option>
                <option value="#reorder-article">REORDER ARTICLE</option>
                <option value="#edit-project">PROJECT</option>
                <option value="#edit-location">LOCATION</option>
                <option value="#edit-member">MEMBER</option>
                <option value="#edit-product">SHOP PRODUCT</option>
                <option value="#reorder-homepage-image">REORDER HOMEPAGE IMAGE</option>
            </select>
        </div>
        <div class="nav nav-pills flex-column nav-justified dt-view-md">
            <a class="nav-link active" data-toggle="pill" href="#edit-artist">ARTIST</a>
            <a class="nav-link" data-toggle="pill" href="#edit-article">ARTICLE</a>
            <a class="nav-link" data-toggle="pill" href="#reorder-article">REORDER ARTICLE</a>
            <a class="nav-link" data-toggle="pill" href="#edit-project">PROJECT</a>
            <a class="nav-link" data-toggle="pill" href="#edit-location">LOCATION</a>
            <a class="nav-link" data-toggle="pill" href="#edit-member">MEMBER</a>
            <a class="nav-link" data-toggle="pill" href="#edit-product">SHOP PRODUCT</a>
            <a class="nav-link" data-toggle="pill" href="#reorder-homepage-image">REORDER HOMEPAGE IMAGE</a>
        </div>
    </div>
    <div class="col-md-9 float-left">
        <div class="tab-content" style="padding-top: 10px;">

            <div id="edit-artist" class="tab-pane fade show active">
                <form method="post" action="/team/edit">
                    <label>CHOOSE ARTIST</label>
                    <select class="custom-select" name="artist_id" id="artist_id" required>
                        <option value="">-</option>
                        <%_ artists.forEach(artist => { _%>
                        <option value="<%= artist._id %>"><%= artist.name %></option>
                        <%_ }) _%>
                    </select>
                    <label>NAME</label>
                    <input type="text" name="name" id="artist_name_edit">
                    <label>BIO</label>
                    <div class="text-emphasis-styles" data-id="artist_bio_edit">
                        <button><b>B</b></button><button><i>I</i></button><button><u>U</u></button>
                    </div>
                    <textarea type="text" name="artist_bio" id="artist_bio_edit" rows="5"></textarea>
                    <label>PROFILE PICTURE (OPTIONAL)</label>
                    <div class="file-upload-container">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="profile_image_change" accept="image/*">
                                <label class="custom-file-label">Choose image</label>
                            </div>
                            <div class="input-group-append">
                                <input type="hidden" name="profile_image">
                                <button class="btn btn-secondary clear-uploads" type="button" data-id="profile_image_change">Clear</button>
                            </div>
                        </div>
                    </div>
                    <label>SOCIAL MEDIA LINKS</label>
                    <div class="social-media-input-group">
                        <div class="social-media-input input-item row">
                            <div class="col-sm-4 float-left">
                                <select class="custom-select social-media-name edit" name="social_media_name">
                                    <option value="">Choose social</option>
                                    <%_ platforms.forEach(social => { _%>
                                    <option value="<%= social.toLowerCase().replace(/[ _]/g, '') %>"><%= social %></option>
                                    <%_ }) _%>
                                </select>
                            </div>
                            <div class="col-sm-8 float-left">
                                <input type="url" name="social_media_url" class="social-media-url edit" placeholder="Enter URL">
                            </div>
                            <div class="col-sm-12 float-left" style="text-align: right; margin-top: -1em;">
                                <button class="add">Add</button>
                                <button class="remove">Remove</button>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="UPDATE ARTIST">
                </form>
            </div>

            <div id="edit-article" class="tab-pane fade">
                <form method="post" action="/news/article/edit">
                    <label>CHOOSE ARTICLE</label>
                    <select class="custom-select" name="article_id" id="article_id" required>
                        <option value="">-</option>
                        <%_ articles.forEach(article => { _%>
                        <option value="<%= article._id %>"><%= article.headline %></option>
                        <%_ }) _%>
                    </select>
                    <label>HEADLINE</label>
                    <div class="text-emphasis-styles" data-id="headline_edit">
                        <button><i>I</i></button><button><u>U</u></button>
                    </div>
                    <input type="text" name="headline" id="headline_edit">
                    <label>MAIN IMAGE(S) (OPTIONAL)</label>
                    <div class="file-upload-container">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="headline_images_change" accept="image/*" multiple>
                                <label class="custom-file-label">Choose image</label>
                            </div>
                            <div class="headline-image-data"></div>
                            <div class="input-group-append">
                                <button class="btn btn-secondary clear-uploads" type="button" data-id="headline_images_change">Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="headline-image-thumb-choice" style="display: none"></div>
                    <label>ARTICLE BODY <br><span>Place an "X" on a separate line to your spot for any additional images/videos to upload.</span></label>
                    <div class="text-emphasis-styles" data-id="textbody_edit">
                        <button><b>B</b></button><button><i>I</i></button><button><u>U</u></button>
                    </div>
                    <textarea name="textbody" id="textbody_edit" rows="10"></textarea>
                    <div class="textbody_media"></div>
                    <input type="submit" value="UPDATE ARTICLE">
                </form>
            </div>

            <div id="reorder-article" class="tab-pane fade">
                <%_ if (articles.length) { _%>
                <form method="post" action="/news/article/edit/reorder">
                    <label>REORDER ARTICLE</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ articles.forEach((article, i) => { _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" id="<%= article._id %>" name="id" value="<%= article._id %>" required>
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= article._id %>"><%= i+1 %>) <%= article.headline %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <div class="row">
                        <div class="col-sm-4 float-left"><label>POSITION NUMBER</label></div>
                        <div class="col-sm-8 float-left"><input type="number" name="index" min="1" max="<%= articles.length %>" required></div>
                    </div>
                    <input type="submit" value="RE-ORDER ARTICLE">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO ARTICLES TO RE-ORDER</b></p>
                <%_ } _%>
            </div>

            <div id="edit-project" class="tab-pane fade">
                <form action="/discography/project/edit">
                    <label>CHOOSE PROJECT</label>
                    <select class="custom-select" name="project_id" id="project_id" required>
                        <option value="">-</option>
                        <%_ projects.forEach(project => { _%>
                        <option value="<%= project._id %>"><%= project.title %></option>
                        <%_ }) _%>
                    </select>
                    <label>ARTWORK</label>
                    <div class="file-upload-container">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="artwork_file_change" accept=".jpg,.jpeg,.png,.bmp">
                                <label class="custom-file-label">Choose image</label>
                            </div>
                            <div class="input-group-append">
                                <input type="hidden" name="artwork_file">
                                <button class="btn btn-secondary clear-uploads" type="button" data-id="artwork_file_change">Clear</button>
                            </div>
                        </div>
                        <input type="url" name="artwork_url" id="artwork_url_edit" placeholder="Or enter the image URL">
                    </div>
                    <label>TITLE</label>
                    <input type="text" name="title" id="title_edit">
                    <label>ARTIST</label>
                    <input type="text" name="artist" id="artist_edit">
                    <label>YEAR</label>
                    <%_ var thisYear = new Date().getFullYear(); _%>
                    <input type="number" name="year" id="year_edit" min="2000" max="<%= thisYear %>" value="<%= thisYear %>">
                    <label>LINKS (OPTIONAL)</label>
                    <div class="link-item-group">
                        <div class="link-item input-item row">
                            <div class="col-sm-4 float-left">
                                <select class="custom-select link-name" name="link_name">
                                    <option value="">Choose link name</option>
                                    <%_ platforms.forEach(social => { _%>
                                    <option value="<%= social.toLowerCase().replace(/[ _]/g, '') %>"><%= social %></option>
                                    <%_ }) _%>
                                </select>
                            </div>
                            <div class="col-sm-8 float-left">
                                <input type="url" name="link_url" class="link-url" placeholder="Enter URL">
                            </div>
                            <div class="col-sm-12 float-left" style="text-align: right; margin-top: -1em;">
                                <button class="add">Add</button>
                                <button class="remove">Remove</button>
                            </div>
                        </div>
                    </div>
                    <label><span>Check the box in case entering every link is unnecessary</span></label>
                    <input type="checkbox" name="all_platforms" id="all_platforms_change">
                    <label for="all_platforms_change" style="display: inline-block"><b>ALL PLATFORMS?</b></label>
                    <input type="submit" value="UPDATE PROJECT">
                </form>
            </div>

            <div id="edit-location" class="tab-pane fade">
                <form method="post" action="/map/location/edit">
                    <label>CHOOSE LOCATION</label>
                    <select class="custom-select" name="location_id" id="location_id" required>
                        <option value="">-</option>
                        <%_ locations.forEach(location => { _%>
                        <option value="<%= location._id %>"><%= location.name +" - "+ location.city +", "+ location.country %></option>
                        <%_ }) _%>
                    </select>

                    <label>NAME</label>
                    <input type="text" name="name_edit" id="location_name_edit" required>

                    <label>STREET ADDRESS / BOROUGH / AREA</label>
                    <input type="text" name="street_address_edit" id="street_address_edit" required>

                    <label>CITY</label>
                    <input type="text" name="city_edit" id="city_edit" required>

                    <label>STATE / COUNTRY</label>
                    <input type="text" name="country_edit" id="country_edit" required>

                    <label>ZIP / POST CODE (OPTIONAL)</label>
                    <input type="text" name="postcode_edit" id="postcode_edit">

                    <input type="submit" value="UPDATE LOCATION">
                </form>
            </div>

            <div id="edit-member" class="tab-pane fade">
                <form method="POST" action="/mailing-list/update">
                    <label>CHOOSE MEMBER</label>
                    <select class="custom-select" name="member_id" id="member_id">
                        <option value="">-</option>
                        <%_ members.forEach(member => { _%>
                        <option value="<%= member._id %>"><%= member.firstname + " " + member.lastname %></option>
                        <%_ }) _%>
                    </select>
                    <div class="row">
                        <div class="col-sm-6 float-left">
                            <label>FIRST NAME</label>
                            <input type="text" name="firstname" id="firstname_edit" required>
                        </div>
                        <div class="col-sm-6 float-left">
                            <label>LAST NAME</label>
                            <input type="text" name="lastname" id="lastname_edit" required>
                        </div>
                    </div>
                    <label>EMAIL</label>
                    <input type="email" name="email" id="email_edit" required>
                    <div class="row">
                        <%_ var sizes = ["XS", "S", "M", "L", "XL", "XXL", "XXXL"]; _%>
                        <div class="col-sm-6 float-left">
                            <label>SIZE (TOP)</label>
                            <select class="custom-select" name="size_top" id="size_top_edit" required>
                                <option value="">Select size</option>
                                <%_ sizes.forEach(size => { _%>
                                <option value="<%= size %>"><%= size %></option>
                                <%_ }) _%>
                            </select>
                        </div>
                        <div class="col-sm-6 float-left">
                            <label>SIZE (BOTTOMS)</label>
                            <select class="custom-select" name="size_bottom" id="size_bottom_edit" required>
                                <option value="">Select size</option>
                                <%_ sizes.forEach(size => { _%>
                                <option value="<%= size %>"><%= size %></option>
                                <%_ }) _%>
                            </select>
                        </div>
                    </div>
                    <label>EXTRA INFO (OPTIONAL)</label>
                    <textarea name="extra_info" id="extra_info_edit"></textarea>
                    <input type="submit" value="UPDATE MAILING LIST">
                </form>
            </div>

            <div id="edit-product" class="tab-pane fade">
                <form method="post" action="/shop/stock/edit">
                    <label>CHOOSE PRODUCT</label>
                    <select class="custom-select" name="product_id" id="product_id">
                        <option value="">-</option>
                        <%_ products.forEach(item => { _%>
                        <option value="<%= item._id %>"><%= item.name %></option>
                        <%_ }) _%>
                    </select>

                    <label>PRODUCT NAME</label>
                    <input type="text" name="name" id="product_name_edit" required>

                    <label>PRICE (GBP £)</label>
                    <input type="number" name="price" id="price_edit" min="0.01" step="0.01" required>

                    <label>TOTAL IN STOCK</label>
                    <input type="number" name="stock_qty" id="stock_qty_edit" min="1" value="1" required>

                    <label>PRODUCT INFO <span>(OPTIONAL)</span></label>
                    <input type="text" name="info" id="product_info_edit"></input>

                    <label>PRODUCT IMAGE</label>
                    <div class="file-upload-container">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="product_image_file_edit" accept=".jpg,.jpeg,.png,.bmp">
                                <label class="custom-file-label">Choose image</label>
                            </div>
                            <div class="input-group-append">
                                <input type="hidden" name="image_file">
                                <button class="btn btn-secondary clear-uploads" type="button" data-id="product_image_file_edit">Clear</button>
                            </div>
                        </div>
                        <input type="url" name="image_url" id="product_image_url_edit" placeholder="Or enter the image URL">
                    </div>

                    <input type="submit" value="SAVE">
                </form>
            </div>

            <div id="reorder-homepage-image" class="tab-pane fade">
                <%_ if (homepage_images.length) { _%>
                <form action="/homepage/image/reorder" method="post">
                    <label>SELECT HOMEPAGE IMAGE TO RE-ORDER</label><br>
                    <div class="row">
                    <%_ homepage_images.forEach((image, i) => { if (/^homepage\/images/.test(image.p_id)) { _%>
                        <div class="col-md-4 col-6 float-left" style="text-align: center; margin-bottom: 10px">
                            <label for="image-id-<%= i %>">
                                <img style="max-width: 100%; max-height: 100px" src="<%= image.url %>" alt="<%= image.p_id.replace('homepage/images/', '') %>">
                            </label>
                            <input type="radio" id="image-id-<%= i %>" name="id" value="<%= image.p_id %>" style="margin-bottom: 0" required>
                        </div>
                    <%_ }}) _%>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4 float-left"><label>POSITION NUMBER</label></div>
                        <div class="col-sm-8 float-left"><input type="number" name="index" min="1" max="<%= homepage_images.length %>" required></div>
                    </div>
                    <input type="submit" value="RE-ORDER IMAGE">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO IMAGES TO RE-ORDER</b></p>
                <%_ } _%>
            </div>

        </div>
    </div>
</div>