<%_ var { artists, projects, articles } = db; _%>
<div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a data-toggle="pill" href="#edit-artist">EDIT ARTIST</a></li>
        <li><a data-toggle="pill" href="#edit-article">EDIT ARTICLE</a></li>
        <li><a data-toggle="pill" href="#edit-project">EDIT PROJECT</a></li>
        <li><a data-toggle="pill" href="#remove">REMOVE</a></li>
    </ul>
</div>
<div class="col-sm-9">
    <div class="tab-content" style="padding-top: 10px;">
        <div id="edit-artist" class="tab-pane fade in active">
            <form method="post" action="/artists/edit">
                <label>CHOOSE ARTIST</label>
                <select name="artist_id" id="artist_id" required>
                    <option value=""></option>
                    <%_ artists.forEach(artist => { _%>
                    <option value="<%= artist._id %>"><%= artist.name %></option>
                    <%_ }) _%>
                </select>
                <label>NAME</label>
                <input type="text" name="artist_name_edit" id="artist_name_edit">
                <label>BIO</label>
                <div class="text-emphasis-styles" data-id="artist_bio_edit">
                    <button><b>B</b></button><button><i>I</i></button><button><u>U</u></button>
                </div>
                <textarea type="text" name="artist_bio_edit" id="artist_bio_edit" rows="5"></textarea>
                <label>PROFILE PICTURE (OPTIONAL)</label>
                <div class="input-group row" style="display: block">
                    <div class="col-sm-6"><input type="file" name="profile_image_change" id="profile_image_change" accept="image/*"></div>
                    <div class="col-sm-6"><button class="clear-uploads" data-id="profile_image_change">CLEAR</button></div>
                </div>
                <%_ ["SoundCloud", "Spotify", "Tidal", "Apple Music", "Deezer", "Google Play", "Twitter", "Instagram", "Facebook", "Linktree"].forEach(social => { _%>
                <label><%= social.toUpperCase() %>:</label>
                <%_ social = social.toLowerCase().replace(/ /g, '_'); _%>
                <input type="url" name="social_<%= social %>" id="social_<%= social %>_edit" placeholder="Enter URL">
                <%_ }) _%>
                <input type="submit" value="UPDATE ARTIST">
            </form>
        </div>
        <div id="edit-article" class="tab-pane fade">
            <form method="post" action="/news/article/edit">
                <label>CHOOSE ARTICLE</label>
                <select name="article_id" id="article_id" required>
                    <option value=""></option>
                    <%_ articles.forEach(article => { _%>
                    <option value="<%= article._id %>"><%= article.headline %></option>
                    <%_ }) _%>
                </select>
                <label>HEADLINE</label>
                <div class="text-emphasis-styles" data-id="headline_edit">
                    <button><i>I</i></button><button><u>U</u></button>
                </div>
                <input type="text" name="headline_edit" id="headline_edit">
                <div class="input-group row" style="display: block">
                    <div class="col-sm-3"><label>MAIN IMAGE(S):</label></div>
                    <div class="col-sm-6"><input type="file" name="headline_images_change" id="headline_images_change" accept="image/*" multiple></div>
                    <div class="col-sm-3"><button class="clear-uploads" data-id="headline_images_change">CLEAR</button></div>
                </div>
                <div class="input-group headline-image-thumb-choice" style="display: none"></div>
                <label>ARTICLE BODY <br><span>To insert additional images/videos, place each embed code (for videos) or image URL on a separate line.</span></label>
                <div class="text-emphasis-styles" data-id="textbody_edit">
                    <button><b>B</b></button><button><i>I</i></button><button><u>U</u></button>
                </div>
                <textarea name="textbody_edit" id="textbody_edit" rows="10"></textarea>
                <input type="submit" value="UPDATE ARTICLE">
            </form>
        </div>
        <div id="edit-project" class="tab-pane fade">
            <form action="/discography/project/edit">
                <label>CHOOSE PROJECT</label>
                <select name="project_id" id="project_id" required>
                    <option value=""></option>
                    <%_ projects.forEach(project => { _%>
                    <option value="<%= project._id %>"><%= project.title %></option>
                    <%_ }) _%>
                </select>
                <label>ARTWORK</label>
                <div class="input-group row" style="display: block">
                    <div class="col-sm-6"><input type="file" name="artwork_file_change" id="artwork_file_change" accept=".jpg,.png,.bmp"></div>
                    <div class="col-sm-6"><button class="clear-uploads" data-id="artwork_file_change">CLEAR</button></div>
                    <div class="col-sm-12"><input type="text" name="artwork_url_edit" id="artwork_url_edit" placeholder="Or enter the image URL"></div>
                </div>
                <label>TITLE</label>
                <input type="text" name="title_edit" id="title_edit">
                <label>ARTIST</label>
                <input type="text" name="artist_edit" id="artist_edit">
                <label>YEAR</label>
                <input type="number" name="year_edit" id="year_edit" min="2000" max="<%= new Date().getFullYear() %>">
                <label>LINKS <span>place each URL on a new line</span></label>
                <textarea type="text" name="links_edit" id="links_edit" rows="5"></textarea>
                <label><span>In case you think entering every link is unnecessary</span></label>
                <input type="checkbox" name="all_platforms_change" id="all_platforms_change"> <b>ALL PLATFORMS?</b> <br>
                <input type="submit" value="UPDATE PROJECT">
            </form>
        </div>
        <div id="remove" class="tab-pane fade">
            <%_ if (artists.length) { _%>
            <div class="col-sm-6">
                <form action="artists/delete" method="post">
                    <label>ARTISTS</label>
                    <%_ artists.forEach((artist, i) => { _%>
                    <input type="checkbox" name="artist<%= i %>" value="<%= artist._id %>"> <%= artist.name %><br>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE ARTISTS">
                </form>
            </div>
            <%_ } if (projects.length) { _%>
            <div class="col-sm-6">
                <form action="discography/project/delete" method="post">
                    <label>PROJECTS</label>
                    <%_ projects.forEach((project, i) => { _%>
                    <input type="checkbox" name="project<%= i %>" value="<%= project._id %>"> <%= project.title %><br>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE PROJECTS">
                </form>
            </div>
            <%_ } if (articles.length) { _%>
            <div class="col-sm-12">
                <form action="news/article/delete" method="post" style="max-width: none;">
                    <label>ARTICLES</label>
                    <%_ articles.forEach((article, i) => { _%>
                    <input type="checkbox" name="article<%= i %>" value="<%= article._id %>"> <%= article.headline %><br>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE ARTICLES">
                </form>
            </div>
            <%_ } _%>
        </div>
    </div>
</div>
