<div class="row">
    <div class="col-md-3 float-left sidebar" id="remove-sidebar">
        <div class="mb-view-md section-dropdown-options">
            <label>SELECT OPTION</label>
            <select class="custom-select">
                <option value="#remove-cs-link">CS LINKS</option>
                <option value="#remove-artist">ARTIST</option>
                <option value="#remove-article">ARTICLE</option>
                <option value="#remove-project">PROJECT</option>
                <option value="#remove-location">LOCATION</option>
                <option value="#remove-member">MEMBER</option>
                <option value="#remove-product">SHOP PRODUCT</option>
                <option value="#remove-shipping">SHIPPING</option>
                <option value="#remove-homepage-image">HOMEPAGE IMAGE</option>
            </select>
        </div>
        <div class="nav nav-pills flex-column nav-justified dt-view-md">
            <a class="nav-link active" data-toggle="pill" href="#remove-cs-link">CS LINKS</a>
            <a class="nav-link" data-toggle="pill" href="#remove-artist">ARTIST</a>
            <a class="nav-link" data-toggle="pill" href="#remove-article">ARTICLE</a>
            <a class="nav-link" data-toggle="pill" href="#remove-project">PROJECT</a>
            <a class="nav-link" data-toggle="pill" href="#remove-location">LOCATION</a>
            <a class="nav-link" data-toggle="pill" href="#remove-member">MEMBER</a>
            <a class="nav-link" data-toggle="pill" href="#remove-product">SHOP PRODUCT</a>
            <a class="nav-link" data-toggle="pill" href="#remove-shipping">SHIPPING</a>
            <a class="nav-link" data-toggle="pill" href="#remove-homepage-image">HOMEPAGE IMAGE</a>
        </div>
    </div>
    <div class="col-md-9 float-left">
        <div class="tab-content" style="padding-top: 10px">

            <div id="remove-cs-link" class="tab-pane fade show active">
                <%_ const { socials } = homepage_contents[0];
                    if (socials.length) { _%>
                <form action="/cs/links/delete" method="post">
                    <label>DELETE SOCIAL LINK(S)</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ socials.forEach((social, i) => {
                        var occurrences = socials.filter(s => s.name === social.name).length;
                        var label = social.name.slice(0,1).toUpperCase() + social.name.slice(1).replace(/_/g, " ");
                        label += occurrences > 1 ? " " + social.url : ""; _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="<%= social.url %>" name="social<%= i %>" value="<%= social.name %>">
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= social.url %>"><%= label %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE LINKS">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO SOCIAL LINKS TO DELETE</b></p>
                <%_ } _%>
            </div>

            <div id="remove-artist" class="tab-pane fade">
                <%_ if (artists.length) { _%>
                <form action="/team/delete" method="post">
                    <label>DELETE ARTIST(S)</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ artists.forEach((artist, i) => { _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="<%= artist._id %>" name="artist<%= i %>" value="<%= artist._id %>">
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= artist._id %>"><%= artist.name %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE ARTISTS">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO ARTISTS TO DELETE</b></p>
                <%_ } _%>
            </div>

            <div id="remove-project" class="tab-pane fade">
                <%_ if (projects.length) { _%>
                <form action="/discography/project/delete" method="post">
                    <label>DELETE PROJECT(S)</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ projects.forEach((project, i) => { _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="<%= project._id %>" name="project<%= i %>" value="<%= project._id %>">
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= project._id %>"><%= project.title %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE PROJECTS">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO PROJECTS TO DELETE</b></p>
                <%_ } _%>
            </div>

            <div id="remove-article" class="tab-pane fade">
                <%_ if (articles.length) { _%>
                <form action="/news/article/delete" method="post">
                    <label>DELETE ARTICLE(S)</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ articles.forEach((article, i) => { _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="<%= article._id %>-to-remove" name="article<%= i %>" value="<%= article._id %>">
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= article._id %>-to-remove"><%= article.headline %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE ARTICLES">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO ARTICLES TO DELETE</b></p>
                <%_ } _%>
            </div>

            <div id="remove-location" class="tab-pane fade">
                <%_ if (locations.length) { _%>
                <form action="/map/location/delete" method="post">
                    <label>DELETE LOCATION(S)</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ locations.forEach((location, i) => { _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="<%= location._id %>" name="location<%= i %>" value="<%= location._id %>">
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= location._id %>"><%- `${location.name} - ${location.city}, ${location.country}` %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE LOCATIONS">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO LOCATIONS TO DELETE</b></p>
                <%_ } _%>
            </div>

            <div id="remove-member" class="tab-pane fade">
                <%_ if (members.length) { _%>
                <form action="/mailing-list/member/delete" method="post">
                    <label>DELETE MEMBER(S) FROM MAILING LIST</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ members.forEach((member, i) => { _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="<%= member._id %>" name="member<%= i %>" value="<%= member._id %>">
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= member._id %>"><%- `${member.firstname} ${member.lastname}` %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE MEMBERS">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO MEMBERS TO REMOVE</b></p>
                <%_ } _%>
            </div>

            <div id="remove-product" class="tab-pane fade">
                <%_ if (products.length) { _%>
                <form action="/shop/stock/remove" method="post">
                    <label>DELETE PRODUCT(S) FROM STOCK</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ products.forEach((item, i) => { _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="<%= item._id %>" name="product<%= i %>" value="<%= item._id %>">
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= item._id %>"><%- item.name %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE PRODUCTS">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO SHOP PRODUCTS TO REMOVE</b></p>
                <%_ } _%>
            </div>

            <div id="remove-shipping" class="tab-pane fade">
                <%_ if (shipping_methods.length) { _%>
                <form action="/shop/shipping/remove" method="post">
                    <label>DELETE SHIPPING METHODS(S)</label>
                    <div class="input-group filter-search-container">
                        <div class="input-group-prepend">
                            <label class="input-group-text"><i class="fas fa-search"></i></label>
                        </div>
                        <input type="search" class="form-control filter-search-input" placeholder="Search to filter">
                    </div>
                    <%_ shipping_methods.forEach((method, i) => { _%>
                    <div class="input-group list-item">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="<%= method._id %>" name="method<%= i %>" value="<%= method._id %>">
                            </div>
                        </div>
                        <label class="form-control list-item-label" for="<%= method._id %>"><%- method.name %></label>
                    </div>
                    <%_ }) _%>
                    <br>
                    <input type="submit" value="DELETE SHIPPING METHODS">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO SHIPPING METHODS TO REMOVE</b></p>
                <%_ } _%>
            </div>

            <div id="remove-homepage-image" class="tab-pane fade">
                <%_ if (homepage_images.length) { _%>
                <form action="/homepage/image/delete" method="post">
                    <label>DELETE HOMEPAGE IMAGE(S)</label><br>
                    <div class="row">
                    <%_ homepage_images.forEach((image, i) => { if (/^homepage\/images/.test(image.p_id)) { _%>
                        <div class="col-md-4 col-6 float-left" style="text-align: center; margin-bottom: 10px">
                            <label for="image<%= i %>">
                                <img style="max-width: 100%; max-height: 100px" src="<%= image.url %>" alt="<%= image.p_id.replace('homepage/images/', '') %>">
                            </label>
                            <input type="checkbox" id="image<%= i %>" name="image<%= i %>" value="<%= image.p_id %>">
                        </div>
                    <%_ }}) _%>
                    </div>
                    <br><br>
                    <input type="submit" value="DELETE IMAGES">
                </form>
                <%_ } else { _%>
                <p style="text-align: center; margin-top: 2em"><b>NO IMAGES TO DELETE</b></p>
                <%_ } _%>
            </div>

        </div>
    </div>
</div>
