<form method="post" action="/shop/shipping/add">
    <label>METHOD NAME</label>
    <input type="text" name="name" id="shipping-method-name" required>

    <label>FEE (GBP £)</label>
    <input type="number" name="fee" id="shipping-fee" min="0" step="0.01" required>

    <label>DELIVERY ESTIMATES</label>
    <fieldset class="delivery-estimates">
        <div class="row">
            <div class="col-3">
                <label>BETWEEN:</label>
            </div>
            <div class="col">
                <div class="input-group">
                    <input class="form-control" type="number" name="min_value" id="min_value" min="1" value="5" required>
                    <select class="form-control custom-select" name="min_unit" id="min_unit" required>
                        <%_ delivery_est_units.forEach(unit => { _%>
                        <option value="<%= unit %>"<%- unit == "business day" ? " selected" : "" %>>
                            <%= unit.replace(/^./, m => m.toUpperCase()) %>s
                        </option>
                        <%_ }) _%>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label>TO:</label>
            </div>
            <div class="col">
                <div class="input-group">
                    <input class="form-control" type="number" name="max_value" id="max_value" min="1" value="7" required>
                    <select class="form-control custom-select" name="max_unit" id="max_unit" required>
                        <%_ delivery_est_units.forEach(unit => { _%>
                        <option value="<%= unit %>"<%- unit == "business day" ? " selected" : "" %>>
                            <%= unit.replace(/^./, m => m.toUpperCase()) %>s
                        </option>
                        <%_ }) _%>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <input type="submit" value="SAVE">
</form>
